$header-height: 80px;
$sidebar-width: 210px;

.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: $header-height;
}


.pageContainer {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: $header-height;

  & main {
    padding: 50px 47px 30px 47px;
    flex-grow: 1;
    overflow-y: auto;
    position: relative;
  }
}

.sidebar {
  width: $sidebar-width;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    ul{
        padding: 0;
      list-style: none;
      
    }
    
    li {
      margin-top: 40px;
      margin-bottom: 40px;

      :global(.MuiSvgIcon-root) {
        margin-right: 10px;
        position:relative;
        bottom: -7px;
      }
    }

    a {
      color: "#FF6978";
      text-decoration: none;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }

      &:global(.active) {
        font-weight: bold;
      }
    }
  }
}
